<!DOCTYPE html>
<html lang="ja" class="light">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/prismjs/prism.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/flowbite.min.js" defer></script>
</head>
<body>
  {% include navi %}
  <aside id="logo-sidebar" class="{% if page.url == "/" %}sm:hidden{% endif %} fixed top-0 left-0 z-40 w-72 h-screen pt-24 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
    <div class="h-full px-3 pb-20 overflow-y-auto bg-white dark:bg-gray-800">
      {% assign navPages = collections.all | eleventyNavigation %}
      <ul class="ml-2 space-y-1 font-medium">
      {%- for entry in navPages %}
        <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
          <span class="flex items-center p-1 mb-0 text-gray-900 rounded-lg dark:text-white" >
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
              {%- if entry.sectiontitle %}
              <span class="ml-3">{{ entry.sectiontitle }}</span>
              {%- else %}
              <span class="ml-3">{{ entry.title }}</span>
              {%- endif %}
          </span>
          {%- if entry.children.length > 0 %}
            <ul class="mt-0 ml-2">
            {%- unless entry.nopage %}
              <li>
                <a href="{{ entry.url }}" {% if entry.url == page.url %}aria-current="page"{% endif %} class="block items-center p-1 ml-3 mb-0 text-gray-900 rounded-lg dark:text-white {% if entry.url != page.url %}hover:bg-gray-100 dark:hover:bg-gray-700{% endif %}">
                  <p class="block">{{ entry.title }}</p>
                {%- if entry.subtitle %}
                <p class="text-xs text-gray-400">{{ entry.subtitle }}</p>
                {%- endif %}
              </a></li>
            {%- endunless %}
            {%- for post in entry.children %}
              <li>
                  <a href="{{ post.url }}" {% if post.url == page.url %}aria-current="page"{% endif %} class="block items-center p-1 ml-3 mb-0 text-gray-900 rounded-lg dark:text-white {% if post.url != page.url %}hover:bg-gray-100 dark:hover:bg-gray-700{% endif %}">
                    <p class="block">{{ post.title }}</p>
                    {%- if post.subtitle %}
                    <p class="text-xs text-gray-400">{{ post.subtitle }}</p>
                    {%- endif %}
                  </a>
                  {%- if post.children.length > 0 %}
                  <ul class="mt-0 ml-2">
                  {%- for post1 in post.children %}
                    <li>
                        <a href="{{ post1.url }}" {% if post1.url == page.url %}aria-current="page"{% endif %} class="block items-center p-1 ml-3 mb-0 text-gray-900 rounded-lg dark:text-white  {% if post1.url != page.url %}hover:bg-gray-100 dark:hover:bg-gray-700{% endif %}">
                          <p class="block">{{ post1.title }}</p>
                          {%- if post1.subtitle %}
                          <p class="text-xs text-gray-400">{{ post1.subtitle }}</p>
                          {%- endif %}
                        </a>
                    </li>
                  {%- endfor %}
                  </ul>
                {%- endif %}
                </li>
            {%- endfor %}
            </ul>
          {%- endif %}
        </li>
      {%- endfor %}
        </ul>
      </div>
    </aside>

  <div class="mt-12 sm:p-4 {% if page.url != "/" %}sm:ml-64{% endif %}">
    <article class="{% if page.url != "/" %}article-link{% endif %} sm:px-8 p-0 max-w-screen-lg mx-auto text-xs">
        <section class="bg-white dark:bg-slate-800 rounded-lg min-h-fit px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
            {{ content }}
        </section>
    </article>
    <footer>
      <small class="block mt-4 text-right pr-2 font-bold text-gray-500 text-xs">&copy; 2004-2023 the Seasar Foundation and others.</small>
    </footer>
  </div>
</body>
</html>
